body {
  font-family: 'Segoe UI', sans-serif;
  background: #121212;
  color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input, button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

button {
  background: #5051F9;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}
button:hover {
  background: #3b3cf0;
}

.card {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
}

.btn-group {
  display: flex;
  gap: 10px;
}

.controls, .filters {
  margin: 20px 0;
}

.board {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  min-width: 250px;
  background: #2a2a2a;
  padding: 10px;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #5051F9;
  margin: 8px 0;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
}

li button {
  background: transparent;
  color: white;
  font-size: 18px;
  margin-left: 10px;
}

li span {
  margin-left: 10px;
  font-size: 12px;
  color: #ffd700; /* deadline màu vàng */
}
